*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Built application files
*.apk
*.ap_
*.aab
bin/
gen/
out/
.gradle/
build/
*.log
captures/
vcs.xml
.signing/